
// ### Primary

$Pale-blue: hsl(225, 100%, 94%);
$Bright-blue: hsl(245, 80%, 62%);

// ### Neutral

$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);
* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: url("./images/pattern-background-desktop.svg"), hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    width: 21rem;
    font-family: 'Red Hat Display', sans-serif;  
    background-color: white;
    border-radius: 1em;
    overflow: hidden;
}
.image {
    width: 100%;
  
}
section {
        padding: 0 2em;
}
article {
    padding: 0em 1.5em ;
    text-align: center;
}
article{
    h1 {
        font-weight: 900;
    }
}
article {
    p {
        font-size: 0.9em;
        color: $Desaturated-blue;
    }
}

.fee {
    width: 100%;
    margin-bottom: 1em;
    background-color: $Very-pale-blue;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;               ;
}
.fee {
    a {
        margin-left: auto;
        margin-right: 1em;
        font-size: 0.9em;
        font-weight: 700;
        color: $Bright-blue;
    }
    img {
        margin-right: 1em;
    }
    p {
        #id1 {
            font-weight: 700;
        }
        #id2 {
            color: $Desaturated-blue;
        }

    }
}
a:hover {
    text-decoration: none;
}
.btn {
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    color: hsl(225, 100%, 98%);
    background-color: hsl(245, 75%, 52%);
    border: none;
    margin-bottom: 1em;
    box-shadow: hsl(245, 75%, 52%) 0px 5px 5px 0px;
}

.btn1 {
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    color: $Dark-blue;
    border: none;
    margin-bottom: 1em;
    background-color: white;
    font-weight: 700;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.7;
}
.btn1:hover {
    cursor: pointer;
    font-weight: bolder;
}
